/*****************
 * Global Styles *
 *****************/

:root {
    --primary-color: #D12E51; /* red */
    --secondary-color: #474350; /* dark grey */
    --text-color: #F7D1CD;
    --link-color: #D1B3C4;
}

html, body {
    font-family: "Arial", "Helvetica", sans-serif;
    height: 100%;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main, footer {
    width: 90%;
}

h1 a, h2 a, h3 a {text-decoration: none;}

p {
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: var(--link-color) wavy underline;
}

img {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/************************
 *    Masthead Styles   *
 * ---------------------*
 * Styling the masthead *
 * in base.html         *
 ************************/

header > hgroup > h1 {margin-bottom: 5px;}

hgroup {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    padding: 0;
    max-height: 3.5em;
}

#masthead {
    padding-bottom: 1em;
    border-bottom: 2px solid var(--primary-color);
}

#masthead > p {
    margin: 0;
}

#hamburger-menu {
    display: block;
    position: relative;
    max-height: 50px;
    background-color: var(--secondary-color);
    border: none;
    margin: 0 0 0 auto;
}

.bar {
    display: block;
    border-radius: 3px;
    background-color: var(--text-color);
    width: 35px;
    height: 5px;
    margin: 5px; 
}

.menu-item {
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    text-align: center;
    margin: 1em;
    border: 1px solid var(--primary-color);
    border-top: none;
}

.active {
    max-height: 100px;
    border: 1px solid var(--primary-color);
    border-top: none;
}

#nav-bar__btn-close {
    display: none;
}


/*******************
 *  Index Styles   *
 *-----------------*
 * Styling for the *
 * index.html page *
 *******************/





/**********************
 *   Article Styles   *
 * ------------------ *
 * Styling for the    *
 * articles template, *
 * article.html       *
 **********************/

.post-meta {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px; 
}

.post-meta > p {
    border-right: 1px solid;
    padding-right: 10px;
}
