/*****************
 * Global Styles *
 *****************/

:root {
    --primary-color: #D12E51; /* red */
    --secondary-color: #474350; /* dark grey */
    --text-color: #F7D1CD;
    --link-color: #D1B3C4;
}

.micro5 {
    font-family: "Micro 5", sans-serif;
}

.silkscreen {
    font-family: "Silkscreen", sans-serif;
}

.jac-bastarda {
    font-family: "Jacquarda Bastarda 9", serif;
}

.jac12 {
    font-family: "Jacquard 12", system-ui;
}

.pixelify {
    font-family: "Pixelify Sans", sans-serif;
}

html, body {
    font-family: "Arial", "Helvetica", sans-serif;
    height: 100%;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main, footer {
    width: 90%;
}


p {
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: var(--link-color) dashed underline;
}

img {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/************************
 *    Masthead Styles   *
 * ---------------------*
 * Styling the masthead *
 * in base.html         *
 ************************/
#logo {
    color: var(--primary-color);
}

header > hgroup > h1 {margin-bottom: 5px;}

hgroup {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    padding: 0;
    max-height: 3.5em;
}


#nav-bar {
    margin: auto;
    width: fit-content;
}

#masthead {
    padding-bottom: 1em;
    border-bottom: 2px solid var(--primary-color);
}

#masthead > p {
    margin: 0;
}

#hamburger-menu {
    display: block;
    position: relative;
    max-height: 50px;
    background-color: var(--secondary-color);
    border: none;
    margin: 0 0 0 auto;
}

.bar {
    display: block;
    border-radius: 3px;
    background-color: var(--text-color);
    width: 35px;
    height: 5px;
    margin: 5px; 
}

.menu-item a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin: .5em auto 0;
    width: 4em;
}

.menu-item {
    display: inline-block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    text-align: center;
}

.active {
    max-height: 100px;
}

#nav-bar__btn-close {
    display: none;
}


/*******************
 *  Index Styles   *
 *-----------------*
 * Styling for the *
 * index.html page *
 *******************/





/**********************
 *   Article Styles   *
 * ------------------ *
 * Styling for the    *
 * articles template, *
 * article.html       *
 **********************/

article h2 {
    margin-bottom: 0;
}

.article-card {
    padding-bottom: 1em;
    border-bottom: 2px solid var(--primary-color);
}

.post-meta {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px; 
}

.post-meta > p {
    border-right: 1px solid;
    padding-right: 10px;
}

/********************
 *  Footer Styles   *
 * ---------------- *
 * Styling for the  *
 * footer, colophon *
 ********************/

footer {
    margin: 2em auto;

}
#colophon a{
    color: var(--secondary-color);
    text-decoration: none;
}

#colophon {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-style: double;
    text-align: center; 
    padding: 1em;
    margin: 2em auto;
}

@media (min-width: 600px) {
    header, main, footer {
        max-width: 60%;
    }

    img {
        max-width: 100%;
        margin: auto;
        left: 0;
        right: 0;
    }

    #hamburger-menu {
        display: none;
    }
    
    .menu-item {
        max-height: 100px;
    }

    #nav-bar {
        margin: 0;
}
}
