/*****************
 * Global Styles *
 *****************/

:root {
    --primary-color: #D12E51; /* red */
    --secondary-color: #474350; /* dark grey */
    --text-color: #F7D1CD;
    --link-color: #D1B3C4;
}

html, body {
    font-family: "Arial", "Helvetica", sans-serif;
    height: 100%;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main, footer {
    width: 90%;
    margin: auto;
}




h1 a, h2 a, h3 a {text-decoration: none;}

p {
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: var(--link-color) wavy underline;
}

img {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/************************
 *    Masthead Styles   *
 * ---------------------*
 * Styling the masthead *
 * in base.html         *
 ************************/

header > hgroup > h1 {margin-bottom: 5px;}


#masthead > hgroup > p {
    margin: 0;
}

#hamburger-menu {
    max-height: fit-content;
    background-color: none;
    border: none;
}

.bar {
    display: block;
    border-radius: 2px;
    background-color: var(--primary-color);
    width: 20px;
    height: 5px;
    margin: 2px; 
}
    



/*******************
 *  Index Styles   *
 *-----------------*
 * Styling for the *
 * index.html page *
 *******************/





/**********************
 *   Article Styles   *
 * ------------------ *
 * Styling for the    *
 * articles template, *
 * article.html       *
 **********************/

.post-meta {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px; 
}

.post-meta > p {
    border-right: 1px solid;
    padding-right: 10px;
}
